/* You can add global styles to this file, and also import other style files */
body, button {
  font-family: "Helvetica Neue", sans-serif;
}

button.docs {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 600;
  height: auto;
  padding: 0.5rem 1rem;
  margin: 0 2rem;
  border-width: 1px;
  border-radius: 0.25rem;
  border-color: darkgrey;
  background-color: white;
  color: royalblue;
}

button.github {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 600;
  height: auto;
  padding: 0.5rem 1rem;
  margin: 0 2rem;
  border-width: 1px;
  border-radius: 0.25rem;
  border-color: darkgrey;
  background-color: royalblue;
  color: white;
}

button:hover {
  color: royalblue;
  border-color: royalblue;
  background-color: lightblue;
  cursor: pointer;
}

button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

div.page {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

div.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

div.button-bar {
  height: 64px;
  width: 1400px;
  padding: 2px;
}

div.bar {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 1400px;
  margin: 2px 0;
}

div.stripe {
  height: 24px;
  width: 100%;
  padding: 2px 8px 0;
}

.toggle {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 600;
  height: auto;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  border-width: 1px;
  border-radius: 0.25rem;
  border-color: darkgrey;
}

.toggle.off {
  background-color: palegreen;
  color: darkgrey;
}

.toggle.on {
  background-color: forestgreen;
  color: white;
}

.toggle:active {
  transform: translateY(0.25rem);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.toggle:hover {
  color: lightgrey;
  border-color: white;
  background-color: darkgreen;
}

.toggle:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

div.floating-key-container {
  position: absolute;
  top: unset;
  left: unset;
  display: block;
  width: 1400px;
}

div.floating-key {
  position: absolute;
  opacity: 0.5;
  color: red;
  background-color: lightgray;
  border: 1px solid dimgray;
  font-weight: bold;
  padding: 4px;
  z-index: 99999;
  height: 24px;
}

div.editor-container {
  width: 1400px;
}

@media (max-width: 1450px) {
  div.editor-container {
    width: 1000px;
  }

  div.bar {
    width: 1000px;
  }

  div.button-bar {
    width: 1000px;
  }

  div.floating-key-container {
    width: 1000px;
    height: 400px;
  }
}

@media (max-width: 1050px) {
  div.editor-container {
    width: 750px;
  }

  div.bar {
    width: 750px;
  }

  div.button-bar {
    width: 750px;
  }

  div.floating-key-container {
    width: 750px;
  }
}

@media (max-width: 800px) {
  div.editor-container {
    width: 500px;
  }

  div.bar {
    width: 500px;
  }

  div.button-bar {
    height: 150px;
    width: 500px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.floating-key-container {
    width: 500px;
  }

  .toggle {
    height: auto;
    width: 200px;
    margin: 0.25rem;
  }
}


@media (max-width: 500px) {
  h1 {
    font-size: 22px;
  }

  div.editor-container {
    width: 300px;
  }

  div.bar {
    width: 300px;
  }

  div.button-bar {
    height: 150px;
    width: 300px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div.floating-key-container {
    width: 300px;
  }

  .toggle {
    height: auto;
    width: 200px;
    margin: 0.25rem;
  }
}
